<div class="main-content">
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card">
          <div class="header">
            <h4 class="title text-center">Add New Stock</h4>
          </div>
          <div class="content">
            <form [formGroup]="stockForm" (ngSubmit)="onSubmit()">
              <div class="form-group">
                <label for="produit">Product:</label>
                <select id="produit" formControlName="produit" required class="form-control">
                  <option *ngFor="let product of products" [value]="product.id">{{ product.nom_produit }}</option>
                </select>
              </div>
              <div class="form-group">
                <label for="quantite_stock">Quantite Stock:</label>
                <input id="quantite_stock" formControlName="quantite_stock" required class="form-control" placeholder="Enter quantite stock">
              </div>
              <div class="form-group">
                <label for="prix_achat_dep">Prix Achat Dep:</label>
                <input id="prix_achat_dep" formControlName="prix_achat_dep" required class="form-control" placeholder="Enter prix achat dep">
              </div>
              <div class="form-group">
                <label for="prix_vente">Prix Vente:</label>
                <input id="prix_vente" formControlName="prix_vente" class="form-control" placeholder="Enter prix vente (optional)">
              </div>
         
              <div class="d-flex justify-content-center">
                <button type="submit" class="btn btn-info btn-fill">Add Stock</button>
              </div>
              <div class="clearfix"></div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
