<div class="main-content">
    <div class="container-fluid">
      <div class="row justify-content-center">
        <div class="col-md-6">
          <div class="card" id="authentication_form">
            <div class="header">
              <h4 class="title text-center">Se connecter</h4>
            </div>
            <div class="content">
              <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                <div class="form-group">
                  <label for="email">Nom d'utilisateur</label>
                  <input
                    id="username"
                    formControlName="username"
                    required
                    class="form-control"
                    placeholder="Nom d'utilisateur"
                  />
                </div>
                <div class="form-group">
                  <label for="password">Mot de passe</label>
                  <input
                    id="password"
                    type="password"
                    formControlName="password"
                    required
                    class="form-control"
                    placeholder="Entrer votre mot de passe"
                  />
                </div>
             
                <div *ngIf="loading" class="text-center">
                  <div class="spinner-grow text-primary" role="status">
                    <span class="sr-only">Loading...</span>
                  </div>
                  <p class="mt-2">Authenticating...</p>
                </div>

                <div class="d-flex justify-content-center" *ngIf="!loading">
                  <button type="submit" class="btn btn-info btn-fill">
                    Se connecter 
                  </button>
                </div>

                <div class="clearfix"></div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>