<div class="main-content">
    <div class="container-fluid">
        <form (ngSubmit)="onSubmit()" class="bg-light p-4 rounded shadow-sm">
            <div class="form-group">
                <label for="product">Select Product:</label>
                <select id="product" [(ngModel)]="selectedProduct" name="product" class="form-control" required>
                    <option *ngFor="let product of products" [value]="product.id">{{ product.nom_produit }}</option>
                </select>
            </div>
            <div class="form-group">
                <label for="year">Select Year:</label>
                <select id="year" [(ngModel)]="selectedYear" name="year" class="form-control" required>
                    <option *ngFor="let year of years" [value]="year">{{ year }}</option>
                </select>
            </div>
            <button type="submit" class="btn btn-info">Get Statistics</button>
        </form>

        <div *ngIf="chartData">
            <lbd-chart
                [title]="'Sales Statistics for ' + selectedProductName + ' in ' + selectedYear"
                [chartType]="chartType"
                [chartData]="chartData"
                [legendItems]="legendItems"
                [withHr]="true">
            </lbd-chart>
        </div>
    </div>
</div>
