<div class="main-content py-4">
    <div class="container">
      <button (click)="toggleSearchInputs()" class="btn btn-secondary mb-3">
        {{ isSearchExpanded ? 'Réduire' : 'Afficher' }} les options de recherche
      </button>

      <form [formGroup]="statistiqueForm" (ngSubmit)="onSubmit()" class="bg-light p-4 rounded shadow-sm" *ngIf="isSearchExpanded">
        <div class="form-group">
          <label class="font-weight-bold">Sélectionnez l'option de date:</label>
          <div class="d-flex justify-content-start mb-3">
            <div *ngFor="let option of dateOptions" class="mr-4">
<input type="radio" [value]="option" (change)="onDateOptionChange(option)" formControlName="dateOption" name="dateOption" [checked]="option === selectedOption" class="mr-2">              <label>{{ option }}</label>
            </div>
          </div>
        </div>
  
        <!-- Section pour 'Jour' -->
        <div class="form-group" *ngIf="selectedOption === 'Jour'">
          <label for="startDate" class="font-weight-bold">Date:</label>
          <input type="date" id="startDate" formControlName="startDate" class="form-control" required>
        </div>
  
        <!-- Section pour 'Mois' -->
        <div class="form-group" *ngIf="selectedOption === 'Mois'">
          <label for="month" class="font-weight-bold">Mois:</label>
          <select id="month" formControlName="month" class="form-control mb-3" required>
            <option *ngFor="let month of months" [value]="month.value">{{ month.name }}</option>
          </select>
  
          <label for="year" class="font-weight-bold">Année:</label>
          <select id="year" formControlName="year" class="form-control" required>
            <option *ngFor="let year of years" [value]="year">{{ year }}</option>
          </select>
        </div>
  
        <!-- Section pour 'Année' -->
        <div class="form-group" *ngIf="selectedOption === 'Année'">
          <label for="year" class="font-weight-bold">Année:</label>
          <select id="year" formControlName="year" class="form-control" required>
            <option *ngFor="let year of years" [value]="year">{{ year }}</option>
          </select>
        </div>
  
        <!-- Section Checkbox 'Entre' -->
        <div class="form-group">
          <label for="between">Entre:</label>
          <input type="checkbox" (change)="onBetweenChange($event.target.checked)">
        </div>
  
        <!-- Section pour 'Jour' lorsque Entre est coché -->
        <div class="form-group" *ngIf="isBetweenChecked && selectedOption === 'Jour'">
          <label for="endDate">Date de fin:</label>
          <input type="date" id="endDate" formControlName="endDate" class="form-control" required>
        </div>
  
        <!-- Section pour 'Mois' lorsque Entre est coché -->
        <div class="form-group" *ngIf="isBetweenChecked && selectedOption === 'Mois'">
          <label for="endMonth">Mois de fin:</label>
          <select id="endMonth" formControlName="endMonth" class="form-control" required>
            <option *ngFor="let month of months" [value]="month.value">{{ month.name }}</option>
          </select>
          <label for="endYear">Année de fin:</label>
          <select id="endYear" formControlName="endYear" class="form-control" required>
            <option *ngFor="let year of years" [value]="year">{{ year }}</option>
          </select>
        </div>
  
        <!-- Section pour 'Année' lorsque Entre est coché -->
        <div class="form-group" *ngIf="isBetweenChecked && selectedOption === 'Année'">
          <label for="endYear">Année de fin:</label>
          <select id="endYear" formControlName="endYear" class="form-control" required>
            <option *ngFor="let year of years" [value]="year">{{ year }}</option>
          </select>
        </div>
  
        <button type="submit" class="btn btn-info">Obtenir les statistiques</button>
      </form>
  
      <!-- Affichage des paramètres de recherche -->
      <h3>{{ searchParameters }}</h3>

      <!-- Tableau des statistiques -->
      <table class="table mt-4" *ngIf="statistiques.length > 0">
        <thead>
          <tr>
            <th>Nom du produit</th>
            <th>Quantité achetée</th>
            <th>Bénéfice</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let stat of statistiques">
            <td>{{ stat.nom_produit }}</td>
            <td>{{ stat.total_quantity_sold }}</td>
            <td>{{ stat.total_profit.toLocaleString('fr-FR') }} Ar</td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <td colspan="2" class="font-weight-bold">Total Bénéfice:</td>
            <td class="font-weight-bold">{{ totalProfit.toLocaleString('fr-FR') }} Ar</td>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>
  