<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="header">
            <h4 class="title">Stock List</h4>
          </div>
          <div class="content table-responsive table-full-width">
            <table class="table table-hover table-striped">
              <thead>
                <tr>
                  <th>Nom du produit</th>
                  <th>Quantité restante</th>
                  <th>Prix Vente</th>
                  <th>Action</th> <!-- New column for action -->
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let stock of stocks">
                  <td>{{ stock.produit?.nom_produit }}</td>
                  <td>{{ stock.quantite_stock }}</td>
                  <td>{{ stock.prix_vente }}</td>
                  <td>
                    <button (click)="addStock(stock)" class="btn btn-info btn-sm">
                      <i class="fa fa-plus"></i> <!-- Icon for adding stock -->
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
